
node_modules/
package-lock.json
target/
ui.frontend/src/main/webpack/static/index.html
site.css
site.js
TO-DO.txt
aemsync


pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

/.vscode