
node_modules/
package-lock.json
target/
ui.frontend/src/main/webpack/static/index.html
site.css
site.js
TO-DO.txt
aemsync


pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

/.vscode

ui.apps/src/main/content/jcr_root/apps/ipp-bikes/clientlibs/clientlib-site/css/site.css
ui.frontend/dist/clientlib-site/site.css
ui.frontend/dist/clientlib-site/site.js
