.cmp-button {}
.cmp-button__text {}
.cmp-button__icon {}
//.cmp-button__icon--myIcon {}


/* if there is some issues contact our support Verners */
.cmp-ippicons {
    margin-top: 1em;
    width: 20% !important;

    .cmp-button__text {
        display: none;
    }
    .cmp-button__icon--facebook {
        background-image: url("/content/dam/ipp-bikes/facebook.png");
        background-size: 40px 40px;
        display: inline-block;
        width: 40px;
        height: 40px;
        content:"";
        
    }
    .cmp-button__icon--youtube {
        display: inline-block;
        background-image: url("/content/dam/ipp-bikes/youtube.png");
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
    }
    .cmp-button__icon--instagram {
        &:before {
            background-image: url("/content/dam/ipp-bikes/instagram.png");
            background-size: 40px 40px;
            display: inline-block;
            width: 40px;
            height: 40px;
            content:"";
        }
    }
}



  
  //Button style variations//
//solid//
.cmp-button--solid {
  .cmp-button {
    border: solid;
  }
}

//solid arrow up//
.cmp-button--solidarrowup {
  .cmp-button {
    border: solid;
  }
  .cmp-button__text::after {
    content: '\1F86D';
  }
}

//Transparent//
.cmp-button--transparent {
  .cmp-button {
  background-color: transparent;
  }
  .cmp-button__text::after {
    opacity: 1;
  }
}

//ripped arrow up//
.cmp-button--arrowup {
  .cmp-button__text::after {
    content: '\1F86D';
  }
}

//transparent arrow up//
.cmp-button--transparentarrowup {
  .cmp-button {
  background-color: transparent;
  }
  .cmp-button__text::after {
    opacity: 1;
  }
  .cmp-button__text::after {
    content: '\1F86D';
  }
}


