.cmp-container {}


//Color
    .cmp-container-color_white { background-color: #FFF; color: #333; }
    .cmp-container-color_black { background-color: #333; color: #FFF; }
//Padding
    .cmp-container-pad_vert_small { padding: 1rem 0px; }
    .cmp-container-pad_vert_large { padding: 2rem 0px; }
