.cmp-image {}
.cmp-image__link {}
.cmp-image__image {}
.cmp-image__title {}

.cmp-image--ripped {
    .cmp-image {
        background-image: url('/content/dam/ipp-bikes/grey-background.jpg');
        width: 100%;
        height: 400pt;
    }
    .cmp-image__image {
        display: inline-block;
        box-shadow: 0 3px 5px #c5afa5d2;
        clip-path: polygon(0% 2%, 15% 0%, 1% 3%, 1% 2%, 2% 2%, 1% 2%, 10% 2%, 3% 8%, 1% 0%, 5% 1%, 2% 0%, 35% 1%, 45% 0%, 65% 2%, 75% 0%, 75% 2%, 80% 0%, 85% 2%, 90% 0%, 95% 0%, 100% 0%, 100% 16%, 100% 20%, 100% 19%, 100% 25%, 99% 25%, 100% 38%, 100% 30%, 100% 50%, 100% 45%, 100% 55%, 100% 65%, 99% 70%, 100% 72%, 99% 80%, 99% 72%, 100% 89%, 99% 98%, 100% 90%, 99% 95%, 100% 100%, 100% 98%, 95% 100%, 85% 98%, 86% 100%, 75% 98%, 72% 100%, 65% 100%, 60% 100%, 55% 98%, 50% 98%, 45% 100%, 45% 100%, 39% 98%, 30% 100%, 25% 98%, 22% 100%, 15% 98%, 10% 100%, 10% 98%, 1% 100%, 0% 99%, 0% 92%, 0% 82%, 1% 80%, 0% 79%, 0% 70%, 1% 65%, 0% 50%, 0% 50%, 0% 45%, 0% 40%, 0% 22%, 0% 35%, 0% 40%, 0% 18%, 1% 17%, 0% 20%, 0% 10%, 0% 1%,0% 0%, 0% 2%, 10% 0%, 15% 2%, 20% 0%, 10% 2%, 20% 0%, 35% 2%, 40% 0%, 45% 2%, 40% 0%, 50% 2%, 50% 0%, 65% 2%, 75% 0%, 75% 2%, 80% 0%, 85% 2%, 90% 0%, 95% 0%, 100% 0%, 100% 16%, 100% 20%, 100% 19%, 100% 25%, 99% 25%, 100% 38%, 100% 30%, 100% 50%, 100% 45%, 100% 55%, 100% 65%, 99% 70%, 100% 72%, 99% 80%, 99% 72%, 100% 89%, 99% 98%, 100% 90%, 99% 95%, 100% 100%, 100% 98%, 95% 100%, 85% 98%, 86% 100%, 75% 98%, 72% 100%, 65% 100%, 60% 100%, 55% 98%, 50% 98%, 45% 100%, 45% 100%, 39% 98%, 30% 100%, 25% 98%, 22% 100%, 15% 98%, 10% 100%, 10% 98%, 1% 100%, 0% 99%, 0% 92%, 0% 82%, 1% 80%, 0% 79%, 0% 70%, 1% 65%, 0% 50%, 0% 50%, 0% 45%, 0% 40%, 0% 22%, 0% 35%, 0% 40%, 0% 18%, 1% 17%, 0% 20%, 0% 10%, 0% 1%,0% 0%, 0% 2%, 10% 0%, 15% 2%, 20% 0%, 10% 2%, 20% 0%, 35% 2%, 40% 0%, 45% 2%, 40% 0%, 50% 2%, 50% 0%, 65% 2%, 75% 0%, 75% 2%, 80% 0%, 85% 2%, 90% 0%, 95% 0%, 100% 0%, 100% 16%, 100% 20%, 100% 19%, 100% 25%, 99% 25%, 100% 38%, 100% 30%, 100% 50%, 100% 45%, 100% 55%, 100% 65%, 99% 70%, 100% 72%, 99% 80%, 99% 72%, 100% 89%, 99% 98%, 100% 90%, 99% 95%, 100% 100%, 100% 98%, 95% 100%, 85% 98%, 86% 100%, 75% 98%, 72% 100%, 65% 100%, 60% 100%, 55% 98%, 50% 98%, 45% 100%, 45% 100%, 39% 98%, 30% 100%, 25% 98%, 22% 100%, 15% 98%, 10% 100%, 10% 98%, 1% 100%, 0% 99%, 0% 92%, 0% 82%, 1% 80%, 0% 79%, 0% 70%, 1% 65%, 0% 50%, 0% 50%, 0% 45%, 0% 40%, 0% 22%, 0% 35%, 0% 40%, 0% 18%, 1% 17%, 0% 20%, 0% 10%, 0% 1%);  
        position: relative;
        
        width: 600pt;
        height: 350pt;
        left: 10%;
        top: 25pt;
       
    }
}