.cmp-navigation {
  padding: 10px 16px;
    list-style: none;
    text-align: center;
    background-color: none;
    width: 100%;
    position: relative;
}
.cmp-navigation__group {
  -ms-flex-align: center;
}
.cmp-navigation__item {
  display: inline;
	font-size: 18px;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-weight: regular;
    padding: 1pt 10pt;
    border-right: 0.01rem solid white;
}

.cmp-navigation__item:last-child {
  border-right: none
}
.cmp-navigation__item--active {}
// .cmp-navigation__item--level-0 {}
.cmp-navigation__item--level-0:hover > .cmp-navigation__group {
  background: #ECECEC;
}
.cmp-navigation__item-link {
  color: white;
  text-decoration: none;
}
.cmp-navigation__item-link:hover {
  color: #ff6600;
}
.cmp-navigation__item-link:before {
  padding: 2pt;
  color: white;
  content: "";
}
