
<sly data-sly-use.model="${'com.adobe.aem.ipp.bikes.core.models.navigationMenu.MainModel'}"></sly>
<sly data-sly-test.configured="${model.configured}"></sly>
<sly data-sly-test="${wcmmode.edit && !configured}">
    <div data-emptytext="${component.title}" class="cq-placeholder"></div>
</sly>

<div 
    class="cmp-navigationmenu" 
    data-cmp-is="navigationmenu"
>    
    <div class="cmp-navigationmenu__item cmp-navigationmenu__nav-container">
        
            <ol class="cmp-navigationmenu__main-list" >
                <li id="mainNavIcon" class="cmp-navigationmenu__mainlist_item cmp-navigationmenu__main-icon">
                    <a  class="cmp-navigationmenu__item-link" href="${model.iconLink}" >
                        <img src="${model.navIcon}"  alt="Home"/>
                    </a>
                </li>
                <sly data-sly-list.layerZeroList="${model.navLayerZeroList}">
                    <li id="${layerZeroList.titleAsClass}" class="cmp-navigationmenu__mainlist_item">
                        <a  
                            id="mainlink_${layerZeroList.titleAsClass}"
                            class="cmp-navigationmenu__item-link cmp-navigationmenu__main-link" 
                            href="${layerZeroList.link}" 
                        >${layerZeroList.title}</a>
                    </li>
                </sly>
            </ol>

            <div class="cmp-navigationmenu__sublist-main-container" >    
                <div class="cmp-navigationmenu__sublist-spacer left" ></div>
                <sly data-sly-list.layerZeroList="${model.navLayerZeroList}">         

                    <ol 
                        id="l1_childof__${layerZeroList.titleAsClass}"          
                        class="cmp-navigationmenu__sub-list cmp-navigationmenu__list-layer-2"
                           
                    >
                        <sly data-sly-list.layerOneList="${layerZeroList.navLayerOneList}"
                            data-sly-test="${layerZeroList.layerOneConfigured}">
                            <li 
                                id="${layerOneList.titleAsClass}"
                                class="cmp-navigationmenu__sublist_item cmp-navigationmenu__layer-2-item"
                            >
                                <a  
                                    class="cmp-navigationmenu__item-link ${layerOneList.layerTwoConfiguredToClass}" 
                                    href="${layerOneList.link}" 
                                >${layerOneList.title}</a>                            
                            </li> 
                        </sly>
                        <hr>                
                        <li 
                            id="all_${layerZeroList.titleAsClass}" 
                            class="cmp-navigationmenu__sublist_item cmp-navigationmenu__layer-2-item"
                        >
                            <a  
                                class="cmp-navigationmenu__item-link asLinks" 
                                href="${layerZeroList.link}" 
                            >Shop all ${layerZeroList.title}</a>
                        </li>
                    </ol>

                    <sly data-sly-list.layerOneList="${layerZeroList.navLayerOneList}" >
                        <ol 
                            id="l2_childof__${layerOneList.titleAsClass}"      
                            class="cmp-navigationmenu__sub-list  cmp-navigationmenu__list-layer-3"
                            data-sly-test="${layerOneList.layerTwoConfigured}"
                        >
                            <sly data-sly-list.layerTwoList="${layerOneList.navLayerTwoList}" >
                                <li 
                                    id="${layerTwoList.titleAsClass}"
                                    class="cmp-navigationmenu__sublist_item cmp-navigationmenu__layer-3-item"
                                >
                                    <a  class="cmp-navigationmenu__item-link asLinks" href="${layerTwoList.link}" >${layerTwoList.title}</a>
                                </li>
                            </sly>
                            <hr>                
                            <li 
                                id="all_${layerOneList.titleAsClass}" 
                                class="cmp-navigationmenu__sublist_item cmp-navigationmenu__layer-3-item"
                            >
                                <a  
                                    class="cmp-navigationmenu__item-link asLinks" 
                                    href="${layerOneList.link}" 
                                >Shop all ${layerOneList.title}</a>
                            </li>
                        </ol> 
                    </sly>

                </sly>

            </div>
    </div>

</div>
