//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background url("/content/dam/ipp-bikes/page-background.png")  repeat; 
    //=IK= the src is found by making the image an asset, putting it on a page, and finding the "file:Reference" of the image component in CRXDE 
/*
    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
*/
}


a {
    color: $color-link;

    /*@media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }*/
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

.hidden { display: none; }