//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;
/*
    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
*/
}


a {
    color: $color-link;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}


/*
@media (min-width: 576px) {
    main { max-width: 540px; } }
  @media (min-width: 768px) {
    main { max-width: 720px; } }
  @media (min-width: 992px) {
    main { max-width: 960px; } }
  @media (min-width: 1200px) {
    main { max-width: 1140px; } }
  @media (min-width: 1440px) {
    main { max-width: 1360px; } }
*/